@CHARSET "UTF-8";
@import "mysite.css";

#gallery			{ margin:20px auto;	width:540px; }

/* gallery list */
#gallery ul { 
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

/* gallery styling */
#gallery ul li{
	position: relative;
	float: left;	
	overflow-y: hidden;
}

/* gallery list > images */
#gallery ul li a.image{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 114px;
	height: 114px;
	margin: 3px;
	background-size: 114px;
	background-position: center;
	background-repeat: no-repeat;
}

/* gallery list > delete button */
#gallery ul li a.del-button{
	position: absolute;
	top: 5px;
	right: 6px;
	display: none;
}

#gallery ul li:hover a.del-button{
	display: block;	
	top: 5px;
	width: 15px;
	height: 15px;
	background-size: 15px 15px;
	background-image: url("/mysite03/assets/images/delete-image.png");
	background-position: center;
	background-repeat: no-repeat;
}

#gallery ul li:hover .blind{	
	position: relative;
	top: 5px;
	right: 2px;
	font-size: 0px;
}

/* gallery title */
#gallery .gallery-header{
	position: relative;
	width:540px;
	height: 50px;
	margin-bottom: 5px;
}

#gallery .gallery-header h1{
	float: left;
	position: relative;
	top: 8px;
}

#gallery .gallery-header .gallery-logo{
	float: left;
	display: inline-block;
	width: 50px;
	height: 50px;
	background-size: 45px 45px;
	background-image: url("/mysite03/assets/images/gallery.png");
	background-position: center;
	background-repeat: no-repeat;
	vertical-align: top;
}

/* image upload 버튼 */
#gallery .gallery-header a{
	-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	display: block;
	margin: 0px auto;
	max-width: 180px;
	text-decoration: none;
	border-radius: 4px;
	padding: 13px 25px;
}

#gallery .gallery-header #upload-image{
	display: block;
	float: right;
	position: relative;
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: rgba(30, 22, 54, 0.6);
	box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

#gallery .gallery-header #upload-image:hover{
	color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}

/* 이미지 업로드 팝업 레이어 */ 
#dialog-upload-form 					{ text-align: left; }
#dialog-upload-form p					{ padding:20px 0 5px 0; font-weight: bold; font-size:1.1em }
#dialog-upload-form label, 
#dialog-upload-form input				{ display:block; }
#dialog-upload-form label				{ font-weight:bold; margin-top:10px; }
#dialog-upload-form input				{ outline:none; margin-top:5px; }
#dialog-upload-form input[type='text']	{ padding: 5px; border:2px solid #A9A9A9; width:260px; }


